<div class="container"><h3>COL Chatter Log</h3></div>
<div class="container">
Who did you speak to:
<input id="nameInput" type="text">
VIN:
<input id="vinInput" type="text">
<form action="#">
  <p>
    <label>
    <input id="replacementCheck" type="checkbox">
    <span class="black-text"><b>Replacement</b></span>
  </p>
</form>
<button class="waves-effect waves-light btn-small blue-grey" type="submit" onclick="createCOLLog()">Create Chatter</button>
<div class="card-panel grey lighten-2">
<p id="COL"><span id="VIN">VIN</span> Per <span id="NAME">NAME</span>, they informed me that <span id="rSTATE">rSTATE</span> Please advise for a COL, thank you.</p>
</div>
</div>
