<div class="container"><h3>WHEELS PQ</h3></div>
<div class="container">
<div class="row">
  <div class="col s8">
  Who did you speak to:
  <label for="Name"><input id="nameInput" type="text"></label>
  Phone Number:
  <input id="phoneInput" type="text">
  Pickup Days:<input id="pDays" type="text">
  Pickup Hours:<input id="pHours" type="text">
  Notes:<input id="extraNotes" type="text">
  <button class="waves-effect waves-light btn-large blue-grey" type="submit" onclick="createLog()">Create Log</button>

  </div>
  <div class="col s4">

  Vehicle Status:
  <form action="#">
    <p>
      <label>
      <input id="keyCheck" type="checkbox">
      <span class="black-text"><b>Keys</b></span>
    </p>
  </form>
  <form action="#">
    <p>
      <label>
      <input id="engineCheck" type="checkbox">
      <span class="black-text"><b>Operable</b></span>
    </p>
  </form>
    <ul class="collection with-header">
      <li class="collection-header grey lighten-2"><h6>WHEELS LANE RATES</h6></li>
        <li class="collection-item">0-49 Miles = $135</li>
        <li class="collection-item">50-99 Miles = $195</li>
        <li class="collection-item">100-149 Miles = $235</li>
        <li class="collection-item">150-290 Miles = $250</li>
        <li class="collection-item">290-499+ Miles = miles X $0.85 = rate</li>
    </ul>

        Add $110 Fee for INOP
        (Chatter for approval if the lane has not yet been approved)
  </div>
  </div>
  </div>
<div class="container">
Salesforce Log:
<div class="card-panel grey lighten-2">
<p id="log1" style="visibility:hidden">Per <span id="NAME">NAME</span>, unit is ready for pickup. Vehicle has <span id="KEYS">KEYS</span> and is <span id="STATE">STATE</span>. Contact <span id="NAME2">NAME</span> for pickup at <span id="NUMBER">NUMBER</span>. Pickup hours <span id="DAYS">DAYS</span> <span id="HOURS">HOURS</span>. <span id="NOTES"></span></p>
</div>
Turvo Log:
<div class="card-panel grey lighten-2">
<p id="log2" style="visibility:hidden">Per <span id="tNAME">NAME</span>, <span id="tKEYS">KEYS</span>, <span id="tSTATE">STATE</span>. Contact <span id="tNAME2">NAME</span> for pickup at <span id="tNUMBER">NUMBER</span>. Pickup hours <span id="tDAYS">DAYS</span> <span id="tHOURS">HOURS</span>.</p>
</div>
