<div class="container"><h3>WHEELS PQ</h3></div>
<div class="container">
<div class="row">
  <div class="col s3">
    <h5>Contact Details:</h5>
  Who did you speak to:
  <label for="Name"><input id="nameInput" type="text"></label>
  Phone Number:
  <input id="phoneInput" type="text">
  Pickup Days:<input id="pDays" type="text">
  Pickup Hours:<input id="pHours" type="text">
  Notes:<input id="extraNotes" type="text">
  </div>
  <div class="col s3">
    <h5>Vehicle Status:</h5>
    <form action="#">
      <p>
        <label>
        <input id="keyCheck" type="checkbox">
        <span class="black-text"><b>Keys</b></span>
      </p>
    </form>
    <form action="#">
      <p>
        <label>
        <input id="engineCheck" type="checkbox">
        <span class="black-text"><b>Operable</b></span>
      </p>
    </form>
    <form action="#">
      <p>
        <label>
        <input id="damageCheck" type="checkbox">
        <span class="black-text"><b>Damages</b></span>
      </p>
    </form>
    <form action="#">
      <p>
        <label>
        <input id="modCheck" type="checkbox">
        <span class="black-text"><b>Modifications</b></span>
      </p>
    </form>
  </div>
  <div class="col s6">
    <ul class="collection with-header">
      <li class="collection-header grey lighten-2"><h6>WHEELS LANE RATES</h6></li>
        <li class="collection-item">0 Miles = $0</li>
        <li class="collection-item">0 Miles = $0</li>
        <li class="collection-item">0 Miles = $0</li>
        <li class="collection-item">0 Miles = $0</li>
        <li class="collection-item">0 Miles = miles X $0 = rate</li>
    </ul>

        Add $0 Fee for INOP
        (Chatter for approval if the lane has not yet been approved)
  </div>
  <div class="row">
    <div class="col s4">

    </div>

  </div>
  <button class="waves-effect waves-light btn-large blue-grey" type="submit" onclick="createLog()">Create Log</button>

  </div>
  </div>
  </div>
<div class="container">
Salesforce Log:
<div class="card-panel grey lighten-2">
<p id="log1" style="visibility:hidden">Per <span id="NAME">NAME</span>, unit is ready for pickup. Vehicle has <span id="KEYS">KEYS</span> and is <span id="STATE">STATE</span>.<span id="DAMAGES">DAMAGES</span><span id="MODS">MODS</span> Contact <span id="NAME2">NAME</span> for pickup at <span id="NUMBER">NUMBER</span>. Pickup hours <span id="DAYS">DAYS</span> <span id="HOURS">HOURS</span>. <span id="NOTES"></span></p>
</div>
Turvo Log:
<div class="card-panel grey lighten-2">
<p id="log2" style="visibility:hidden">Per <span id="tNAME">NAME</span>, <span id="tKEYS">KEYS</span>, <span id="tSTATE">STATE</span>.<span id="tDAMAGES">DAMAGES</span><span id="tMODS">MODS</span> Contact <span id="tNAME2">NAME</span> for pickup at <span id="tNUMBER">NUMBER</span>. Pickup hours <span id="tDAYS">DAYS</span> <span id="tHOURS">HOURS</span>.</p>
</div>
