Who did you speak to:<br>
<input id="nameInput" type="text"><br>
Phone Number:<br>
<input id="phoneInput" type="text"><br>
Vehicle Information<br>
Keys:<input id="keyCheck" type="checkbox"><br>
Full Access:<input id="accessCheck" type="checkbox"><br>
Operable:<input id="engineCheck" type="checkbox"><br>
<button type="submit" onclick="allyLog()">Create Log</button>
<p id="log">Per <span id="NAME">NAME</span>, <span id="KEYS">KEYS</span>, <span id="STATE">STATE,</span><span id="ACCESS">ACCESS</span>. VERIFIED LOT. CONTACT 24HRS PRIOR TO PICKUP. <span id="NUMBER">NUMBER</span>
