<div class="container"><h3>ALLY PQ</h3></div>
<div class="container">
<div class="row">
  <div class="col s3">
    <div class="container"><h5>Contact Details:</h5></div>
<div class="container" id="prompt">Who did you speak to:</div>
  <div class="container"><input id="nameInput" type="text"></div>
<div class="container" id="prompt">Phone Number:</div>
  <div class="container"><input id="phoneInput" type="text"></div>
<div class="container" id="prompt"><h5>Vehicle Status:</h5></div>
<div class="container"><form action="#">
  <p>
    <label>
    <input id="keyCheck" type="checkbox">
    <span class="black-text"><b>Keys</b></span>
  </p>
</form>
<form action="#">
  <p>
    <label>
    <input id="accessCheck" type="checkbox">
    <span class="black-text"><b>Full Access</b></span>
  </p>
</form>
<form action="#">
  <p>
    <label>
    <input id="engineCheck" type="checkbox">
    <span class="black-text"><b>Operable</b></span>
  </p>
</form>
</div>
<div class="container"><button class="waves-effect waves-light btn-small blue-grey" type="submit" onclick="allyLog()">Create Log</button>
</div>
</div>
<div class="col s2">
  <table>
    <thead>
      <tr>
  <th>Flat Bed Transport Mileage Fees: $00 FLAT</th>
  <th>PPM</th>
</tr>
</thead>
<tbody>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
        <tr>
          <td>0</td>
          <td>$0</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="col s2">
 <table>
   <thead>
     <tr>
 <th>Standard Transport Mileage Fees: $00 FLAT</th>
 <th>PPM</th>
</tr>
</thead>
<tbody>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
       <tr>
         <td>0</td>
         <td>$0</td>
       </tr>
     </tbody>
   </table>
  </div>
  <div class="col s4">
    <h5>Fees</h5>
    <div class="titles">INOP</div>
    FEE CODE HERE-Western Flat bed Hookup Fee
    <br>
    FEE CODE HERE-Western Flat Bed Transport Mileage Fee
    <br>
    <div class="titles">Standard</div>
    FEE CODE HERE-Western Standard Carrier HookUp Fee
    <br>
    FEE CODE HERE-Western Standard Transport Mileage Fee
    <br>
  </div>
</div>
</div>
</div>
<div class="container">
<div class="card-panel grey lighten-2">
<p id="log1" style="visibility:hidden">Per <span id="NAME">NAME</span>, <span id="KEYS">KEYS</span>, <span id="STATE">STATE,</span><span id="ACCESS">ACCESS</span>. VERIFIED LOT. CONTACT 24HRS PRIOR TO PICKUP. <span id="NUMBER">NUMBER</span>
</div>
</div>
